.client-comments{
  width: 100%;
  float: left;
  text-align: center;
  background-color: #f7f7f7;
  padding: 120px 0;
  box-sizing: border-box;
}

.client-comments__wrap{
  width: 80%;
  float: none;
  margin: 60px auto 0;
  position: relative;
  display: inline-block!important;
  text-align: center;
  padding: 0 100px;
  box-sizing: border-box;
  .owl-nav{
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
  }
  .owl-dots{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 20px;
    display: inline-block;
  }
  .owl-prev{
    width: 41px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 0px 5px 5px 0px;
    float: left;
    position: relative;
    &:hover{
      background-color: rgba(255, 255, 255, 0.18);
    }
    &:after{
      content: "";
      display: inline-block;
      width: 15px;
      position: absolute;
      height: 2px;
      background-color: $gold;
      -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     left: 10px;
      margin-top: 24px;
    }
    &:before{
      content: "";
      display: inline-block;
      width: 15px;
      position: absolute;
      height: 2px;
      background-color: $gold;
      -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     left: 10px;
     margin-top: 14px;
    }
  }
  .owl-next{
    width: 41px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 5px 0px 0px 5px;
    float: right;
    position: relative;
    &:hover{
      background-color: rgba(255, 255, 255, 0.18);
    }
    &:after{
      content: "";
      display: inline-block;
      width: 15px;
      position: absolute;
      height: 2px;
      background-color: $gold;
      -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     right: 10px;
      margin-top: 24px;
    }
    &:before{
      content: "";
      display: inline-block;
      width: 15px;
      position: absolute;
      height: 2px;
      background-color: $gold;
      -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     right: 10px;
     margin-top: 14px;
    }
  }
  @include breakpoint($phone-breakpoint){
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.client-comments__wrap_item{
  width: 100%;

  h4{
    color: $gold;
    margin-top: 20px;
  }
  p{
    width: 100%;
    float: left;
    text-align: center;
    line-height: 24px;
  }
}

.client-comments__wrap_item_thumb{
  size: 90px;
  float: none;
  margin: 0 auto 40px;
  overflow: hidden;
  border-radius: 50%;
  img{
    size: 100%;
    object-fit: cover;
  }
}

.client-comments__wrap_item_post{
  color: #24282f;
  font-size: 12px;
  font-family: $or;
  line-height: normal;
  padding: 0;
  box-sizing: border-box;
  float: left;
  width: 100%;
  text-align: center;
}
