.contacts-wrap{
  width: 100%;
  float: left;
  position: relative;
  background-color: #fff;
  padding: 120px 0;
  box-sizing: border-box;
}

.contacts-wrap__form{
  width: 60%;
  float: left;
  position: relative;

}

.contacts-wrap__info{
  width: 313px;
  margin-left: 40px;
  float: right;
  p,a,small{
    font-family: $or;
    font-size: 14px;
    position: relative;
    display: inline-block;
    margin: 0;
    color: #666;
    line-height: 24px;
    width: 70%;
    text-align: left;
  }
  p{
    margin-bottom: 20px;
  }
  small{
    margin-right: 5px;
    width: auto;
  }
  a:hover{
    color: $gold;
  }
}

#map{
  float: left;
  width: 313px;
  height: 208px;
  margin-top: 45px;
}
