.contacts-wrap{
  width: 100%;
  float: left;
  position: relative;
  background-color: #fff;
  padding: 120px 0;
  box-sizing: border-box;
}

.contacts-wrap__form{
  width: 60%;
  float: left;
  position: relative;
  @include breakpoint($phone-breakpoint){
    width: 100%;
  }
}

.contacts-wrap__info{
  width: 313px;
  margin-left: 40px;
  float: right;
  p,a,small{
    font-family: $or;
    font-size: 14px;
    position: relative;
    display: inline-block;
    margin: 0;
    color: #666;
    line-height: 24px;
    width: 70%;
    text-align: left;
    @include breakpoint($tablet-breakpoint){
      width: 90%;
    }
  }
  p{
    margin-bottom: 20px;
  }
  small{
    margin-right: 5px;
    width: auto;
  }
  a:hover{
    color: $gold;
  }
  @include breakpoint($tablet-breakpoint){
    width: 40%;
    float: left;
    margin-left: 0;
    padding-left: 40px;
    box-sizing: border-box;
  }
  @include breakpoint($phone-breakpoint){
    width: 100%;
    padding-left: 0;
    margin-top: 40px;
  }
}

#map{
  float: left;
  width: 313px;
  height: 208px;
  margin-top: 45px;
}
