.features{
  width: 100%;
  float: left;
  position: relative;
  background-color: #fff;
  padding: 120px 0;
  box-sizing: border-box;
}

.features__wrap{
  width: 100%;
  float: left;
  position: relative;
  margin-top: 120px;
  @include breakpoint(max-width 670px){
    margin-top: 40px;
  }
}

.features__wrap_left{
  width: 40%;
  float: left;
  @include breakpoint(max-width 770px){
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    .features__item:last-of-type{
      margin-bottom: 0;
    }
  }
  @include breakpoint(max-width 670px){
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    .features__item:last-of-type{
      margin-bottom: 40px;
    }
  }
}

.features__wrap_right{
  width: 40%;
  float: right;
  @include breakpoint(max-width 770px){
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    .features__item:last-of-type{
      margin-bottom: 0;
    }
  }
  @include breakpoint(max-width 670px){
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    .features__item:last-of-type{
      margin-bottom: 0;
    }
  }
}

.features__item{
  float: left;
  width: 100%;
  margin-bottom: 65px;
  p{
    float: left;
    width: calc(100% - 80px);
    margin: 0;
    display: block;
    display: -webkit-box;
    position: relative;
    height: calc(14px * 1.5 * 4);
    float: left;
    line-height: 1.5;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:last-of-type{
    margin-bottom: 0;
  }
  @include breakpoint(max-width 670px){
    margin-bottom: 40px;
  }
}


.features__item_thumb{
  size: 64px;
  float: left;
  position: relative;
  margin-right: 15px;
  img{
    size: 100%;
  }
}
