.how-we-work{
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  padding: 120px 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.how-we-work__pic{
  float: left;
  width: 50%;
  height: 460px;
  padding-right: 100px;
  box-sizing: border-box;
  img{
    width: 360px;
    height: 100%;
  }
  @include breakpoint(max-width 670px){
    display: none;
  }
}

.how-we-work__content{
  float: left;
  display: inline-block;
  width: 50%;
  text-align: left;
  padding-right: 10%;
  box-sizing: border-box;
  @include breakpoint(max-width 670px){
    width: 100%;
    margin-top: 0;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.how-we-work__content_row{
  width: 100%;
  float: left;
  position: relative;
  padding: 20px 0;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
}

.how-we-work__content_row-title{
  width: 100%;
  float: left;
  position: relative;
  cursor: pointer;
  .number{
    color: $gold;
    font-family: $ob;
    font-size: 18px;
    font-weight: 700;
    // line-height: 30px;
    float: left;
    width: 30px;
    text-align: left;
  }
  p{
    width: calc(100% - 60px);
    float: left;
    line-height: 25px;
  }
}

.how-we-work__content_row-hide{
  display: none;
  width: 100%;
  padding-top: 20px;
  box-sizing: border-box;
  float: left;
}

.plus-icon{
  float: left;
  width: 18px;
  height: 18px;
  transition: all .3s ease;
  &:after{
    content: "";
    display: inline-block;
    width: 18px;
    position: absolute;
    height: 1px;
    background-color: $gold;
    -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   top: 10px;
  }
  &:before{
    content: "";
    display: inline-block;
    width: 18px;
    position: absolute;
    height: 1px;
    background-color: $gold;
    -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
    top: 10px;
  }
}

.plus-icon__rotate{
  transform: rotate(45deg);
  transition: all .3s ease;
}
