.services{
  width: 100%;
  float: left;
  background-color: #fff;
  padding: 120px 0;
  box-sizing: border-box;
  text-align: center;
}

.services__wrap{
  width: 80%;
  float: none;
  margin: 100px auto 0;
  display: inline-block;
  @include breakpoint($tablet-breakpoint){
    width: 100%;
  }
  @include breakpoint($phone-breakpoint){
    width: 100%;
  }
}

.services__wrap_item{
  width: 33.3%;
  float: left;
  position: relative;
  text-align: center;
  p{
    line-height: 24px;
  }
  @include breakpoint($tablet-breakpoint){
    width: 33.3%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  @include breakpoint($phone-breakpoint){
    width: 100%;
    margin-bottom: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}

.services__wrap_item-title{
  width: 100%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: $nb;
  color: #000;
  margin-bottom: 10px;
}

.services__wrap_item-thumb{
  size: 100px;
  border: 1px solid $gold;
  border-radius: 50%;
  display: block;
  float: none;
  margin: 0 auto 40px;
  position: relative;
  img{
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    position: absolute;
    display: inline-block;
    left: calc(50% - 20px);
  }
  @include breakpoint($phone-breakpoint){
    margin-bottom: 20px;
  }
}
