.who-we-are{
  width: 100%;
  float: left;
  background-color: #f7f7f7;
  padding: 120px 0;
  box-sizing: border-box;
}


.who-we-are__wrap{
  width: 100%;
  float: left;
  position: relative;
  height: 485px;
  background-color: #fff;
  box-shadow: 0 0 59px rgba(204, 204, 204, 0.39);
  @include breakpoint(max-width 770px){
    height: auto;
  }
}

.who-we-are__wrap_pic{
  width: 661px;
  height: 485px;
  float: left;
  position: relative;
  overflow: hidden;
  img{
    width: 100%;
    object-fit: contain;
  }
  @include breakpoint(max-width 770px){
    width: 100%;
  }
  @include breakpoint(max-width 670px){
    height: auto;
  }
}

.who-we-are__wrap_content{
  width: calc(100% - 661px);
  float: left;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 100px;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 75px;
  @include breakpoint(max-width 770px){
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include breakpoint(max-width 670px){
    padding-left: 20px;
    padding-right: 20px;
  }
  p{
    width: 100%;
    margin-top: 15px;
  }
  .btn{
    margin-top: 70px;
    @include breakpoint(max-width 770px){
      margin-top: 40px;
    }
  }
}


.who-we-are__wrap_content:-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #272b32;
}
.who-we-are__wrap_content::-webkit-scrollbar {
  width: 5px;
}
.who-we-are__wrap_content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.who-we-are__wrap_content::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #272b32;
}
