.title{
  width: 100%;
  float: left;
  text-align: left;
  position: relative;
}
.title-center{
  text-align: center;
  h3{
    text-align: center;
  }
  .title-line{
    margin: 0 auto;
    float: none;
  }
  p{
    margin-top: 15px;
    text-align: center;
    padding: 0 200px;
    box-sizing: border-box;
    line-height: 24px;
    @include breakpoint(max-width 670px){
      padding: 0 20px;
    }
  }
}

h2{
  width: 100%;
  float: left;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  color: #24282f;
  font-family: $nb;
  font-size: 65px;
  position: relative;
  display: inline-block;
  float: left;
  @include breakpoint($tablet-breakpoint){
    font-size: 50px;
  }
  @include breakpoint($phone-breakpoint){
    font-size: 40px;
  }
}

h3{
  width: 100%;
  float: left;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  color: #24282f;
  font-family: $nb;
  position: relative;
}

h4{
  width: 100%;
  float: left;
  margin: 0;
  font-family: $nb;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.title-line{
  background-color: $gold;
  width: 77px;
  height: 2px;
  display: inline-block;
  position: relative;
  left: 0;
  margin-top: 15px;
  display: inline-block;
  float: left;
}

p{
  font-family: $or;
  font-size: 14px;
  position: relative;
  display: inline-block;
  margin: 0;
  color: #24282f;
  // line-height: 36px;
  line-height: 24px;
}

.small-title{
  width: 100%;
  float: left;
  position: relative;
  text-align: left;
  color: $gold;
  font-size: 14px;
  font-family: $nb;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.btn{
  min-width: 164px;
  height: 50px;
  display: inline-block;
  float: none;
  border: 1px solid $gold;
  border-radius: 25px;
  color: $gold;
  font-family: $or;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  &:hover{
    color: #24282f;
  }
}

input, textarea{
  height: 38px;
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  color: #999;
  font-family: $or;
  font-size: 16px;
  display: inline-block;
}

textarea{
  height: 250px;
  resize: none;
}

.send-btn{
  float: left;
  position: relative;
  min-width: 148px;
  height: 50px;
  background-color: $gold;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;

  outline: none;
  border: none;
}

.show-more{
  margin-top: 70px;
}

.section--padding{
  padding: 80px 0!important;
  box-sizing: border-box;
}

.section--margin{
  margin: 0!important;
  box-sizing: border-box;
}
